In [15]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [18]:
spark

In [19]:
df_spark = spark.read.csv('/content/data.csv')

In [20]:
df_spark

DataFrame[_c0: string, _c1: string]

In [21]:
df_spark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  name|age|
|shadin| 26|
| tanim| 27|
| sakib| 25|
|rafsan| 25|
+------+---+

In [22]:
df_spark = spark.read.option('header','True').csv('/content/data.csv')

In [23]:
df_spark.show()

+------+---+
|  name|age|
+------+---+
|shadin| 26|
| tanim| 27|
| sakib| 25|
|rafsan| 25|
+------+---+

In [24]:
df_spark.head(3)

[Row(name='shadin', age='26'),
 Row(name='tanim', age='27'),
 Row(name='sakib', age='25')]

In [25]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [27]:
df_spark=spark.read.csv('/content/data.csv',header=True,inferSchema=True)
df_spark

DataFrame[name: string, age: int]

In [28]:
df_spark.show()

+------+---+
|  name|age|
+------+---+
|shadin| 26|
| tanim| 27|
| sakib| 25|
|rafsan| 25|
+------+---+

In [31]:
df_spark.head(2)

[Row(name='shadin', age=26), Row(name='tanim', age=27)]

In [32]:
df_spark.select('name').show()

+------+
|  name|
+------+
|shadin|
| tanim|
| sakib|
|rafsan|
+------+

In [33]:
df_spark.describe()

DataFrame[summary: string, name: string, age: string]

In [34]:
df_spark.describe().show()

+-------+------+------------------+
|summary|  name|               age|
+-------+------+------------------+
|  count|     4|                 4|
|   mean|  null|             25.75|
| stddev|  null|0.9574271077563381|
|    min|rafsan|                25|
|    max| tanim|                27|
+-------+------+------------------+

In [35]:
df_spark = df_spark.withColumn('age after 2 years ',df_spark['age']+2)

In [36]:
df_spark.show()

+------+---+------------------+
|  name|age|age after 2 years |
+------+---+------------------+
|shadin| 26|                28|
| tanim| 27|                29|
| sakib| 25|                27|
|rafsan| 25|                27|
+------+---+------------------+

In [37]:
df_spark = df_spark.drop('age')

In [38]:
df_spark.show()

+------+------------------+
|  name|age after 2 years |
+------+------------------+
|shadin|                28|
| tanim|                29|
| sakib|                27|
|rafsan|                27|
+------+------------------+

In [39]:
df_spark =df_spark.withColumnRenamed('name','Name')

In [40]:
df_spark.show()

+------+------------------+
|  Name|age after 2 years |
+------+------------------+
|shadin|                28|
| tanim|                29|
| sakib|                27|
|rafsan|                27|
+------+------------------+